@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

.mySwiper {
  width: 100%;
  height: 300px;
}

.swiper-pagination-bullet {
  width: 50px !important;
  height: 30px !important;
  border: 2px solid #000 !important;
  border-radius: 2px !important;
  color: #ff4d4f !important;
  background: #fff2f0 !important;
  border-color: #ffccc7 !important;
}