@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';

.mySwiper {
  width: 100%;
  max-width: 480px;
  height: 260px;
  margin: 0 auto;
}

.swiper-pagination-bullet {
  width: 28px !important;
  height: 22px !important;
  border: 1px solid #000 !important;
  border-radius: 2px !important;
  color: #ff4d4f !important;
  background: #fff2f0 !important;
  border-color: #ffccc7 !important;
}

@media (max-width: 414px) {
  .mySwiper {
    height: 220px;
  }

  .swiper-pagination-bullet {
    width: 18px !important;
    height: 18px !important;
    font-size: 12px !important;
  }
}